<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rule for Obvius.">
          <match url="(.*/)?obvius/*" />
          <action type="Rewrite" url="/AquiSuite.EMB.A8810-0.php" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
